<div class="containers">
    <!-- to overlay the bg color to dim light -->
    <div class="rect1">
        <header>
            <nav>
                <ul>
                  <!-- hotel logo -->
                    <div class="logo">
                        <div><a [routerLink]="['sigin']" ><img src="../../assets/images/logo_icons/Hotelogo.png"></a></div>
                        <div><p class="title">HotelApi</p></div>
                    </div>  
                </ul>
                
            </nav>
            <div class="d-flex justify-content-evenly pt-5">
                <div class="rect2">
                    <img src="../../assets/images/operations/add.svg" class="add py-4"><br> <a class="names" [routerLink]="['addstaff']">Add Staff</a>
                </div>
                <div class="rect2">
                    <img src="../../assets/images/operations/update.svg" class="add  py-3"><br> <a class="names"[routerLink]="['updatestaff']">Update Staff</a>
                </div>
                <div class="rect2">
                    <img src="../../assets/images/operations/delete.svg" class="adds  py-3"><br> <br><a class="named"[routerLink]="['deletestaff']">Delete Staff</a>
                </div>
                
            </div>
            
              
        </header>
    </div>
</div>
<hr>
<div class="container py-4">
    <p class="text-center display-5 heading">STAFF INFORMATION</p>
    <table>
        
        <thead >
            <tr >
                <th>Staff Id</th>
                <th>Hotel id</th>
                <th>Staff Name</th>
                <th>Staff Email</th>
                <th>Staff Password</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of Hotl">
                <tr >
                <td>{{item.staffId}}</td>
                <td>{{item.hotelId}}</td>
                <td>{{item.staffName}}</td>
                <td>{{item.staffemail}}</td>
                <td>{{item.staffPassword}}</td>
            </tr>
            </ng-container>
            
        </tbody>
    </table>
</div>