<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorkIndotNet.Properties.Settings.DbTrialConnectionString"
            connectionString="Data Source=DESKTOP-QCJN09K\SQLEXPRESS;Initial Catalog=DbTrial;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WorkIndotNet.Properties.Settings.Adocase_studyConnectionString"
            connectionString="Data Source=DESKTOP-QCJN09K\SQLEXPRESS;Initial Catalog=Adocase_study;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>