<div class="containers">
    <!-- to overlay the bg color to dim light -->
    <div class="rect1">
        <header>
            <nav>
                <ul>
                  <!-- hotel logo -->
                    <div class="logo">
                        <div><a [routerLink]="['sigin']" ><img src="../../assets/images/logo_icons/Hotelogo.png"></a></div>
                        <div><p class="title">HotelApi</p></div>
                    </div>  
                </ul>
                
            </nav>
            <div class="d-flex justify-content-evenly pt-5">
                <div class="rect2">
                    <img src="../../assets/images/operations/add.svg" class="add py-4"><br> <a class="names" [routerLink]="['addcust']">Add customer</a>
                </div>
                <div class="rect2">
                    <img src="../../assets/images/operations/update.svg" class="add  py-3"><br> <a class="names"[routerLink]="['updatecust']">Update customer</a>
                </div>
                <div class="rect2">
                    <img src="../../assets/images/operations/delete.svg" class="adds  py-3"><br> <br><a class="named"[routerLink]="['deletecust']">Delete customer</a>
                </div>
                
            </div>
            
              
        </header>
    </div>
</div>
<hr>
<div class="container py-4">
    <p class="text-center display-5 heading">CUSTOMER INFORMATION</p>
    <table>
        
        <thead >
            <tr >
                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Customer Email</th>
                <th>Customer Phone</th>
                <th>Customer City</th>
                <th>Customer Count</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of customers">
                <tr >
                <td>{{item.customerId}}</td>
                <td>{{item.customerName}}</td>
                <td>{{item.customerEmail}}</td>
                <td>{{item.customerPhone}}</td>
                <td>{{item.customerPhone}}</td>
                <td>{{item.customerCount}}</td>
            </tr>
            </ng-container>
            
        </tbody>
    </table>
</div>