<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<appSettings>
		<add key="number1" value="10"/>
		<add key="number20" value="20"/>
	</appSettings>
	<configSections>
		<section name="set1" type="myproj.library.Set1"/>
	</configSections>
	<set1 key1="keysvalue1" key2="keysvalue2"/> -->
	<connectionStrings>
		
		<!--name="students1 is DB name"-->
		<add name="AdoCase" connectionString="data source=DESKTOP-QCJN09K\\SQLEXPRESS; Initial catalog=Adocase_study; integrated security=SSPI"/>

	</connectionStrings>
	
</configuration>